*{
    box-sizing:border-box;
    margin: 0;
  }

body{
    background-image: url("images/background.jpg");
    background-size:cover;
}

h2{
    display: inline;
    color: white;
}

.opzione{
    width: 80%;
    height: 5%;
    margin: auto;
    margin-top: 20px;
}

.descrizione{
    color: white;
}

#riquadro{
    width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
}


#logo_titolo{
    width: 500px;
    margin: auto;
    padding: 20px 20px 0 20px;
}

#logo{
    width: 150px;
    margin: 3px 125px;
}

#titolo{
    border: 5px;
    color: rgb(88, 165, 0);
}

#tasti {
    width: 80%;
    height: 5%;
    background-color: rgb(136, 223, 5);
    padding: 5px;
    margin: auto;
    text-align: center;
}

#statoRicarica1{
    width: 30%;
    background-color: rgb(204, 184, 7);
    border-radius: 10px;
}

#statoRicarica2{
    width: 50%;
    background-color: rgb(53, 204, 7);
    border-radius: 10px;
}

#statoRicarica3{
    width: 20%;
    background-color: rgb(209, 65, 46);
    border-radius: 10px;
}
